.App {
  text-align: center;
  text-decoration: none;
}

nav {
  background-color: green;
}

#nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

#nav div img {
  width: 100px;
  height: 100px
}
