header {
  text-decoration: none;
}

.navbar {
margin: 0;
background-color: #8fbc8f;
border-color: #e7e7e7;
border-radius: 4px;
position: relative;
min-height: 50px;
border: 1px solid transparent;
}

.container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-header a {
  margin-right: 0;
  margin-left: 0;
  float: left;
  text-decoration: none;
}

.wayfarer-heading {
  margin: 20px 0;
  font-size: 48px;
  color: #f0f0f0;
  font-family: Lucida Handwriting;
}

.wayfarer-heading:hover {
  color: black;
}

.navbar-right {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  float: right;
  margin-right: -1600px;
  margin-top: 5px;
}

.nav-item1 a{
  font-size: 40px;
  margin-right: 60px;
  margin-top: 20px;
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

.nav-item1 a:hover {
  color: black;;
}

.nav-item2 a {
  font-size: 40px;
  margin: 20px;
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

.nav-item2 a:hover {
  color: black;;
}

.nav-item3 {
  font-size: 40px;
  margin-left: 1300px;
  margin-top: 30px;
  color: gray
}

.nav-item3:hover {
  color: black;;
}

.nav-item4 {
  font-size: 40px;
  color: gray;
  font-weight: bold;
  margin-top: 30px;
}

a.nav-item4 {
  margin-left: 55px;
}

.nav-item4:hover {
  color: black;;
}