.App {
  text-align: center;
  text-decoration: none;
}

h2{
  background:orange
}


nav {
  background-color:navy;
  color:lightcyan;
}

#nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

form {
  background: green
}


#nav div img {
  width: 100px;
  height: 100px
}
